{% set page = {
    title: 'Your confirmation'
} %}

{% extends page.layout.file | d(layouts.base) %}


{% block content_primary %}


<form method="post" action="sr09-receipt">
    
    <h1 class="nhsuk-heading-xl" data-test-id="outcome-heading">Your request for a chest X-ray has been sent</h1>
                
            <button class="nhsuk-button app-button--tertiary nhsuk-u-margin-bottom-5 app-shadow" data-module="nhsuk-button" type="submit" data-event-trigger="click" data-event-value="Send me a copy of this page">
    Send me a copy of this page
  </button>
            
            <p>We have sent your request to St James's University Hospital. You should go to the hospital during opening hours, as soon as you can in the next few days.</p>
              <p>You do not need an appointment - just walk in and ask for the "self-request chest X-ray service".</p>
                  
              <div class="app-service-details">
                    <div class="app-service-details__content">
                            <span data-test-id="service-alias" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Chest X-ray</span>

                            <span class="nhsuk-u-visually-hidden"> - </span>
                            <br aria-hidden="true">
                            <span data-test-id="service-name" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">Radiology Department</span>
                            <p data-test-id="service-detail-address">
                                St James's University Hospital<br>
                                Beckett St, Harehills<br>
                                Leeds<br>
                                LS9 7TF<br>

                          <p data-test-id="opening-time-text">Open today: 9:00am to 4:00pm</p>
                          <p data-test-id="miles-away-text">2.3 miles away</p>

                         
                           <p><a href="" data-event-trigger="click" data-event-value="Hide map">Hide map <span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a></p>
                           <p class="app-get-directions-desktop">
                                <a data-test-id="get-directions-link" class="app-u-js-only" target="_blank" rel="noreferrer noopener" href="https://www.google.com/maps/dir/?api=1&destination=St+James+University+Hospital,+Beckett+St,+Leeds+LS9+7TF" data-event-trigger="click" data-event-value="Get directions">Get directions <span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>
                            </p>  
                    </div>

                    <!--- Map view with single drop pin for St James's University Hospital --> 
                    <div class="app-service-details__map">
                        <div class="app-service-details__map__gmap" style="position: relative; overflow: hidden;">
                            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                <div>
                                    <iframe 
                                        src="https://www.google.com/maps?q=St+James+University+Hospital,+Beckett+St,+Leeds+LS9+7TF&output=embed" 
                                        width="400" 
                                        height="500"
                                        style="border:0;" 
                                        allowfullscreen="" 
                                        loading="lazy"
                                        title="Map showing St James's University Hospital location">
                                    </iframe>
                                </div>
                            </div>
                        </div>
   
                    </div>
              
                    <br>
 
                  <!--- Get directions link -->
                    <p class="app-get-directions-mobile">
                        <a data-test-id="get-directions-link" class="app-u-js-only" target="_blank" rel="noreferrer noopener" href="https://www.google.com/maps/dir/?api=1&destination=St+James+University+Hospital,+Beckett+St,+Leeds+LS9+7TF" data-event-trigger="click" data-event-value="Get directions">Get directions <span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>
                    </p>

        <script>
            function toggleGetDirections() {
                const desktopLink = document.querySelector('.app-get-directions-desktop');
                const mobileLink = document.querySelector('.app-get-directions-mobile');
                
                if (window.innerWidth < 624) {
                    desktopLink.style.display = 'none';
                    mobileLink.style.display = 'block';
                } else {
                    desktopLink.style.display = 'block';
                    mobileLink.style.display = 'none';
                }
                }

                toggleGetDirections();

                window.addEventListener('resize', toggleGetDirections);
        </script>
               
        </div>

              <h2>What happens during the chest X-ray</h2>
              <p>When you arrive at the hospital you will usually wait no more than about 10 minutes. The X-ray takes about 20 minutes.</p>
              <p>You will undress to the waist and be given a hospital gown to wear. You keep your belongings with you.</p>
              <p>Find out more about <a href="https://www.nhs.uk/tests-and-treatments/x-ray/">what happens during an X-ray</a></p>
            
              <h2>Contacting your GP surgery for the results</h2>
              <p>The results will be sent to your GP surgery about 2 weeks after the X-ray.</p>
              <p>You must contact them to find out what happens next.</p>

                <br>

            <hr class="app-section-break">
            <h3>Looking after yourself while you wait for the X-ray results</h3>
            <details data-test-id="care-advice" class="nhsuk-details">
                <summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="care advice"><span class="nhsuk-details__summary-text">Things to look out for and self-care</span>
                </summary>
                <div class="nhsuk-details__text">
                    <h2 id="Advice_CX220975-Adult-Male" class="nhsuk-heading-s">Cough</h2>
                         <ul>
                            <li>
                                <p>Drinking lemon juice and honey mixed into warm water can be soothing.</p>
                            </li>
                            <li>
                                <p>Speak to a pharmacist for advice on suitable treatments.</p>
                            </li>
                    </ul>
                </div>
            </details>
           
            <details data-test-id="worsening-advice" class="nhsuk-details">
                <summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="worsening advice"><span class="nhsuk-details__summary-text">What to do if you feel worse</span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>Use <a href="https://111-int1412-ep-efhydhd5ahcwh2ad.a03.azurefd.net/triage/check-your-symptoms" data-event-trigger="click" data-event-value="Use 111 online again" target="_blank">111 online</a> again or call 111 if:</p>
                              <ul>
                                <li>your symptoms get worse</li>
                                <li>you have any new symptoms</li>
                             </ul>
                      <p>If you are deaf or hard of hearing there are <a data-event-trigger="click" data-event-value="Other ways to contact 111" href="https://111-int1412-ep-efhydhd5ahcwh2ad.a03.azurefd.net/Help/OtherWays" id="language-link" target="_blank">other ways you can contact 111</a>.</p>
                </div>
            </details>

             </form>
            

      <hr class="app-section-break">

      <!-- Does this page make sense section -->
      <section>
        <details data-test-id="feedback" class="nhsuk-details nhsuk-u-reading-width">
          <summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="Feedback reveal">
            <span class="nhsuk-details__summary-text">Does this page make sense?</span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Feedback form placeholder</p>
          </div>
        </details>
      </section>
   

{% endblock %}