{% extends "111/layouts/base.html" %}

{% block content_primary %}
<div>


  <h1 class="nhsuk-heading-l">Questions about the male breast</h1>

 <div class="nhsuk-card nhsuk-u-margin-bottom-4">
  <div class="nhsuk-card__content">
    <figure class="nhsuk-image breast-male-image">
      <img class="nhsuk-image__img" src="https://raw.githubusercontent.com/NHS-DUEC/ltc-app-journey/main/app/assets/images/nhs-male-chest.png" alt="Black and white drawing of a man's chest showing where the male breast is, above and beneath the skin.">
      <figcaption class="nhsuk-image__caption">
        Male breasts are where your pectoral muscles (pecs) are. Breast tissue goes up to the collarbone and into the armpits.
      </figcaption>
    </figure>
  </div>
</div>

  <a href="/version-4/pathway-questions/q2" class="nhsuk-button" data-module="nhsuk-button">
    I understand
  </a>

  <details class="nhsuk-details nhsuk-u-reading-width">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Does this page make sense?</span>
    </summary>
  </details>

</div>
{% endblock %}