// #########################################################
// 111 Online Prototype Kit
// #########################################################
// README: This file is for your custom styles for your
// specific instance of the 111 Online Prototype Kit.
// #########################################################

// Option list component
.app-option-list {
  list-style: none;
  padding-left: 0;
}

.app-option-list__item {
  @include nhsuk-responsive-margin(4, "bottom");
  background-color: $color_nhsuk-white;
}

.app-option-list__button {
  border: 1px solid $color_nhsuk-grey-4;
  border-left-width: 4px;
  padding: nhsuk-spacing(4) nhsuk-spacing(3);
  width: 100%;
}

.app-option-list__button:hover,
.app-option-list__button:focus {
  color: #fff;
  background-color: $nhsuk-link-color;
  border-color: $nhsuk-link-color;
}

.nhsuk-typeahead-wrap {
  position: relative;
  margin-bottom:30px;
}
.nhsuk-typeahead-listbox {
  position: absolute;
  z-index: 1000;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  max-height: 18rem;
  overflow: auto;
  background: #fff;
  border: 1px solid #B1B4B6;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
  padding: 0;
  margin: 0;
  list-style: none;
}
.nhsuk-typeahead-option {
  padding: .5rem .75rem;
  cursor: pointer;
}
.nhsuk-typeahead-option:hover {
  background: #e6f0ff;
}
.nhsuk-typeahead-option[aria-selected="true"] {
  background: #d2e3ff;
}
.nhsuk-typeahead-hidden {
  display: none;
}