{% set page = {
  title: 'Is this problem stopping you from doing all of your simple everyday tasks, like concentrating on the TV or reading a book?',
  layout: {
    file: layouts.base
  },
  question: {
    callout: {
      text: 'This means you feel too ill to do the things you normally do.'
    }
  },
  answers: [
    {
      id: 'SelectedAnswer',
      value: 'Yes - I have stopped doing everything I usually do',
      label: 'Yes - I have stopped doing everything I usually do',
      testId: 'answer-0'
    },
    {
      id: 'SelectedAnswer_1',
      value: 'I feel ill, but can do some of my usual activities',
      label: 'I feel ill, but can do some of my usual activities',
      testId: 'answer-1'
    },
    {
      id: 'SelectedAnswer_2',
      value: 'No - I feel well enough to do most of my usual daily activities',
      label: 'No - I feel well enough to do most of my usual daily activities',
      testId: 'answer-2'
    }
  ],
  button: {
    text: 'Next',
    name: 'Question',
    value: 'Question',
    testId: 'next-button'
  },
  previousButton: {
    text: 'Change my previous answer',
    name: 'PreviousQuestion',
    value: 'PreviousQuestion',
    testId: 'previous-button'
  }
} %}

{% extends "111/layouts/base.html" %}

{% block content_primary %}
<form action="q4" method="post" novalidate>
  
  <div class="nhsuk-form-group nhsuk-u-margin-bottom-5 nhsuk-u-reading-width">
    <fieldset class="nhsuk-fieldset" aria-describedby="selected-answer-rationale">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-5">
        <h1 class="nhsuk-fieldset__heading">{{ page.title }}</h1>
      </legend>

      {% if page.question.callout %}
      <div class="app-callout app-callout--info" id="selected-answer-rationale" data-test-id="selected-answer-rationale">
        <p>{{ page.question.callout.text }}</p>
      </div>
      {% endif %}

      <div class="nhsuk-radios" data-test-id="answers">
        {% for answer in page.answers %}
        <div class="nhsuk-radios__item">
          <input 
            name="SelectedAnswer" 
            type="radio" 
            class="nhsuk-radios__input" 
            id="{{ answer.id }}" 
            value="{{ answer.value }}"
          >
          <label for="{{ answer.id }}" data-test-id="{{ answer.testId }}" class="nhsuk-label nhsuk-radios__label">
            {{ answer.label }}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <button 
    class="nhsuk-button" 
    type="submit" 
    name="{{ page.button.name }}" 
    value="{{ page.button.value }}" 
    data-module="nhsuk-button" 
    data-prevent-double-click="true" 
    data-test-id="{{ page.button.testId }}"
  >
    {{ page.button.text }}
  </button>

  <span class="nhsuk-core">
    <button 
      data-event-trigger="click" 
      data-event-value="In-page back link" 
      class="app-button--link nhsuk-u-margin-top-6" 
      id="previousScreen" 
      type="submit" 
      value="{{ page.previousButton.value }}" 
      name="{{ page.previousButton.name }}" 
      formnovalidate 
      data-test-id="{{ page.previousButton.testId }}"
    >
      {{ page.previousButton.text }}
    </button>
  </span>
</form>
{% endblock %}