{% set page = {
  title: 'Have you been to the Middle East in the last 2 weeks?',
  layout: {
    file: layouts.base
  },
  question: {
    callout: {
      text: 'This means travel or stopovers in the following countries. Dubai, United Arab Emirates, Saudi Arabia, Qatar, Israel, Iraq, Lebanon, Oman, Palestinian territories, Jordan, Kuwait, Bahrain, Yemen or Syria.'
    }
  },
  answers: [
    {
      id: 'SelectedAnswer',
      value: 'Yes',
      label: 'Yes',
      testId: 'answer-0'
    },
    {
      id: 'SelectedAnswer_1',
      value: "I'm not sure",
      label: "I'm not sure",
      testId: 'answer-1'
    },
    {
      id: 'SelectedAnswer_2',
      value: 'No',
      label: 'No',
      testId: 'answer-2'
    }
  ],
  button: {
    text: 'Next',
    name: 'Question',
    value: 'Question',
    testId: 'next-button'
  }
} %}

{% extends "111/layouts/base.html" %}

{% block content_primary %}
<form action="q5" method="post" novalidate>
  
  <div class="nhsuk-form-group nhsuk-u-margin-bottom-5 nhsuk-u-reading-width">
    <fieldset class="nhsuk-fieldset" aria-describedby="selected-answer-rationale">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-5">
        <h1 class="nhsuk-fieldset__heading">{{ page.title }}</h1>
      </legend>

      {% if page.question.callout %}
      <div class="app-callout app-callout--info" id="selected-answer-rationale" data-test-id="selected-answer-rationale">
        <p>{{ page.question.callout.text }}</p>
      </div>
      {% endif %}

      <div class="nhsuk-radios" data-test-id="answers">
        {% for answer in page.answers %}
        <div class="nhsuk-radios__item">
          <input 
            name="SelectedAnswer" 
            type="radio" 
            class="nhsuk-radios__input" 
            id="{{ answer.id }}" 
            value="{{ answer.value }}"
          >
          <label for="{{ answer.id }}" data-test-id="{{ answer.testId }}" class="nhsuk-label nhsuk-radios__label">
            {{ answer.label }}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <button 
    class="nhsuk-button" 
    type="submit" 
    name="{{ page.button.name }}" 
    value="{{ page.button.value }}" 
    data-module="nhsuk-button" 
    data-prevent-double-click="true" 
    data-test-id="{{ page.button.testId }}"
  >
    {{ page.button.text }}
  </button>
</form>
{% endblock %}