{% set page = {
  title: 'Check details'
} %}

{% extends page.layout.file | d(layouts.base) %}



{% block content_primary %}

            <!-- Change the page heading -->

            <!-- Add content here -->
            <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
            
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Check details for your chest x-ray request
            </h1>
          </legend>
        

       <!-- <p>Insert content if needed.</p> -->
        <br> 
          
          
          <dl class="nhsuk-summary-list nhsuk-summary-list">
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                John Smith
               <!-- <p>{{ data.CurrentPostcode3 }}</p> -->
              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Date of birth
              </dt>
              <dd class="nhsuk-summary-list__value">
                5 March 1975
                <!--  <p>{{ data.HomePostcode }}</p>  -->
              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                </a>
          
              </dd>
            </div>

            

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Phone number
              </dt>
              <dd class="nhsuk-summary-list__value">
                07123 456 789
                <!-- <p>{{ data.UserInfoAge }}</p> -->
                
              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> phone</span>
                </a>
          
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Email address
              </dt>
              <dd class="nhsuk-summary-list__value">
                john.smith@gmail.com
                <!-- <p>{{ data.TelephoneNumber }}</p> -->
                
              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> email</span>
                </a>
          
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Home address
            </dt>
            <dd class="nhsuk-summary-list__value">
              8 Bridgewater Place<br>Leeds<br>LS11 5BZ
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> home address</span></a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              GP practice
            </dt>
            <dd class="nhsuk-summary-list__value">
              2nd Floor, Beeston, 123 Cemetery Rd<br>Leeds<br>LS11 8LH
              
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> GP</span></a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              X-ray site
            </dt>
            <dd class="nhsuk-summary-list__value">
              St James’s University Hospital<br>Beckett St, Harehills<br>Leeds<br>LS9 7TF
    
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> x-ray site</span></a>
            </dd>
          </div>
          
          </dl>
          

         
        </fieldset>
        
        <!--
        <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">You must be registered with a Leeds GP to use this service. By confirming these details you agree to share them with the service.</p>
        -->
        
      </div>
          

       <form method="post">
       
        {{ button({
          text: "Confirm my request", 
          href: "end-of-prototype"
        }) }}
        
      </form>

      <hr class="app-section-break">

      <!-- Does this page make sense section -->
      <section>
        <details data-test-id="feedback" class="nhsuk-details nhsuk-u-reading-width"><summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="Feedback reveal"><span class="nhsuk-details__summary-text">Does this page make sense?</span></summary>
          <div class="nhsuk-details__text">
              
              <form data-test-id="feedback-content" action="https://staging.111.nhs.uk/Feedback/SubmitFeedback/" method="post" target="_blank" data-feedback-form="" autocomplete="off">
                  <div class="nhsuk-form-group" data-feedback-form-section="">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m nhsuk-u-visually-hidden">Does the page make sense?</legend>
                            <div class="nhsuk-radios">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" data-test-id="feedback-choice-yes" id="feedback-choice-yes" name="FeedbackChoice" type="radio" value="Yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="feedback-choice-yes">Yes</label>
                                </div>

                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" data-test-id="feedback-choice-no" id="feedback-choice-no" name="FeedbackChoice" type="radio" value="No">
                                    <label class="nhsuk-label nhsuk-radios__label" for="feedback-choice-no">No</label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="app-callout app-callout--info nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0" data-test-id="u13-consent">
                            <p>If you're under 13, you should have permission from your parent or guardian before leaving feedback.</p>
                        </div>
                    <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4" data-test-id="feedback-tell-us-button">Tell us</button></div>
                    
                    <div data-feedback-form-section="" hidden="">
      
                        <fieldset class="nhsuk-fieldset">
                              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m nhsuk-u-margin-bottom-0" data-test-id="feedback-explanation-1">Tell us how to make this page easier to understand</legend>                                                    
                              <br>
                                    <div class="nhsuk-character-count nhsuk-u-margin-bottom-0" data-module="nhsuk-character-count" data-maxlength="1200" data-threshold="75">
                                      <div class="nhsuk-form-group">

                                          <div class="app-callout app-callout--info" id="feedback-contact-warning">
                                              <p data-test-id="feedback-explanation-no-pid">Do <strong>not</strong> leave any personal or contact information. No one will reply to requests for medical help or contact you.</p>
                                          </div>

                                          <label for="feedback-text" class="nhsuk-label">Your feedback</label>                            
                                          <textarea class="nhsuk-textarea nhsuk-js-character-count" id="feedback-text" name="Text" rows="5" data-test-id="feedback-textarea" aria-describedby="feedback-contact-warning feedback-text-info" data-autosize="" data-original-aria-describedby="feedback-contact-warning feedback-text-info" style="overflow: hidden; overflow-wrap: break-word; resize: none; text-align: start; height: 152px;"></textarea><div class="nhsuk-hint nhsuk-character-count__message nhsuk-u-visually-hidden" id="feedback-text-info">You can enter up to 1200 characters</div><div class="nhsuk-hint nhsuk-character-count__message nhsuk-character-count__status nhsuk-character-count__message--disabled" aria-hidden="true">You have 1200 characters remaining</div><div class="nhsuk-character-count__sr-status nhsuk-u-visually-hidden" aria-live="polite" aria-hidden="true">You have 1200 characters remaining</div>
                                      </div>
                                    </div>
                        </fieldset>

                        <script type="application/json" data-feedback-form-section-validation-rules="">
                        [
                          {
                              "id": "feedback-text",
                              "name": "Text",
                              "rule": "required",
                              "message": "Enter your feedback"
                          },
                          {
                              "id": "feedback-text",
                              "name": "Text",
                              "rule": "maxlength",
                              "maxlength": 1200,
                              "message": "Feedback should be fewer than 1200 characters long"
                          },
                          {
                              "id": "feedback-text",
                              "name": "Text",
                              "rule": "PID",
                              "message": "Your feedback cannot include any personal information or contact details"
                          }
                        ]
                        </script>

                        <div class="nhsuk-back-link"><button class="nhsuk-back-link__link" href="#">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Go back</button></div><button data-test-id="send-feedback-button" data-event-trigger="click" data-event-value="Send feedback" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-2" type="submit">Send feedback</button>
                      
                    </div>
                      
              </form>

          </div>
        </details>
      </section>
   
 

  

{% endblock %}