{% extends "111/layouts/base.html" %}

{% block content_primary %}
<div class="nhsuk-u-reading-width">

  <h1 class="nhsuk-heading-xl">Get an appointment at a breast clinic</h1>

  <div class="app-callout app-callout--info nhsuk-u-margin-bottom-4">
    <p>Breast clinics see men and women.</p>
    <p>You can refer yourself to a one-stop clinic without having to see your GP first.</p>
    <p>They will check your symptoms to see what might be causing them.</p>
  </div>

  <h2 class="nhsuk-heading-m">How to get an appointment</h2>
  <p>We will ask you for some personal details and send them to your local breast clinic.</p>
  <p>The breast clinic will then contact you to agree a date and time.</p>

  <a href="/version-4/personal-details/sr02-name" class="nhsuk-button" data-module="nhsuk-button">
    Get an appointment
  </a>

  <h2 class="nhsuk-heading-m">Should I contact my GP surgery?</h2>
  <p>There is no need to contact your GP. You will save time by referring yourself to the clinic now.</p>
  <p>But if you would rather speak to your GP instead, contact them within the next few days.</p>
  <p>If your GP thinks your symptoms need to be checked they will refer you to the same clinic for the same tests.</p>

  <div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">Important</h3>
    <p>Breast cancer in men is very rare, but it's important to get any symptoms checked out.</p>
  </div>

  <details class="nhsuk-details nhsuk-u-reading-width nhsuk-u-margin-top-4">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Does this page make sense?</span>
    </summary>
  </details>

</div>
{% endblock %}