{% extends "111/layouts/base.html" %}

{% block content_primary %}
<div class="nhsuk-u-reading-width">

  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">
  Chest and upper back
  <span class="nhsuk-caption-l">Includes upper and lower back, male breast area and nipples</span>
</h1>
<p class="nhsuk-hint">Choose the one symptom that's bothering you most today.</p>

  <ul class="nhsuk-list">
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Breathing problems</a>
      <p class="nhsuk-u-margin-bottom-0">Wheezing, panting or feeling out of breath. Difficult or noisy breathing.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Cough</a>
      <p class="nhsuk-u-margin-bottom-0">Hacking, tickly or dry cough, without other cold symptoms. Coughing up phlegm or mucus.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Coughing or vomiting up blood</a>
      <p class="nhsuk-u-margin-bottom-0">Coughing up blood in spit (vomit), phlegm or mucus.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Hiccups</a>
      <p class="nhsuk-u-margin-bottom-0">Hiccups, with possible fever. Hiccups won't stop.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Palpitations</a>
      <p class="nhsuk-u-margin-bottom-0">Feeling the heart is beating too fast or too slow. Pounding or irregular heartbeat. Racing heart, fluttering in the chest, skipped beats.</p>
    </li>
  </ul>

  <h2 class="nhsuk-heading-m">Chest, breasts and upper back</h2>
  <ul class="nhsuk-list">
    <li>
      <a href="/version-4/start">Chest (male breast) and nipple problems</a>
      <p class="nhsuk-u-margin-bottom-0">Lumps, pain or any worries about skin changes. Nipple discharge or nipple turning inward.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Chest or upper back injury</a>
      <p class="nhsuk-u-margin-bottom-0">An injury to the chest or upper back on/in the last 7 days, that has not cut the skin. Broken, painful or bruised ribs. Injuries from the collarbone to bottom of the ribcage.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Chest or upper back injury with a cut or wound</a>
      <p class="nhsuk-u-margin-bottom-0">An injury to the chest or upper back on/in the last 7 days. Broken, painful or bruised ribs with a wound.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Chest pain</a>
      <p class="nhsuk-u-margin-bottom-0">Any chest or upper back pain. Chest pain with or without arm, shoulder neck or jaw pain. Tightness in the chest.</p>
    </li>
  </ul>

  <h2 class="nhsuk-heading-m">Lower back</h2>
  <ul class="nhsuk-list">
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Lower back injury</a>
      <p class="nhsuk-u-margin-bottom-0">An injury to the lower back (below the rib cage) or bottom in the last 7 days that has not cut the skin.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Lower back injury with a cut or wound</a>
      <p class="nhsuk-u-margin-bottom-0">An injury to the lower back (below the rib cage) or bottom in the last 7 days with a cut or wound.</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Lower back pain</a>
      <p class="nhsuk-u-margin-bottom-0">Pain or ache in the lower part of the back.</p>
    </li>
  </ul>

</div>
{% endblock %}