{% extends "111/layouts/base.html" %}

{% block content_primary %}
<div class="nhsuk-u-reading-width">
  <h1 class="nhsuk-heading-xl">Find the right topic</h1>

<a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;" class="nhsuk-button app-button--tertiary nhsuk-u-margin-bottom-4" data-module="nhsuk-button">
    <span>Search our A to Z</span>
</a>

  <h2 class="nhsuk-heading-l">Browse categories</h2>

  <h3 class="nhsuk-heading-m" id="parts-of-the-body">Parts of the body</h3>
  <p class="nhsuk-hint nhsuk-u-margin-bottom-4">Choose the body part the symptom or injury affects.</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Skin, hair and nails</a>
      <span class="nhsuk-u-font-size-16"> (14 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes rashes, moles, bites and stings, small cuts and grazes</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Head, face and neck</a>
      <span class="nhsuk-u-font-size-16"> (29 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes eyes, ears, nose, mouth and throat</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Shoulders, arms and hands</a>
      <span class="nhsuk-u-font-size-16"> (12 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes shoulders, arms, wrists, hands and fingers</p>
    </li>
    <li>
      <a href="/version-4/categories-2">Chest and back</a>
      <span class="nhsuk-u-font-size-16"> (13 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes front of chest (male breast area), nipples, upper and lower back</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Stomach and sides</a>
      <span class="nhsuk-u-font-size-16"> (11 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes pain or injury and feeling or being sick</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Genitals and bottom</a>
      <span class="nhsuk-u-font-size-16"> (18 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes problems peeing or pooing and sexual health problems</p>
    </li>
    <li>
      <a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Hips, legs and feet</a>
      <span class="nhsuk-u-font-size-16"> (11 topics)</span>
      <p class="nhsuk-u-margin-bottom-0">Includes hips, groin, legs, ankles, feet and toes</p>
    </li>
  </ul>

  <h3 class="nhsuk-heading-m" id="other-problems">Other problems</h3>
  <p class="nhsuk-hint nhsuk-u-margin-bottom-4">Choose the one symptom that's bothering you most today.</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Accidental swallowing or breathing in</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Alcohol and substance abuse</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Blood pressure problems</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Burns and scalds</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Catheters and stomas</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Coughs, colds and breathing problems</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Diabetes, blood sugar levels</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Diarrhoea, sickness and vomiting</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Dizziness, falls, faints and tremor (shaking)</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">High temperature</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Mental health</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Palpitations</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Problems with peeing or pooing</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Problems with wound treatments, dressings, casts, metal frames and drains</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Sexual health</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Sleep problems and feeling tired</a></li>
    <li><a href="#" aria-disabled="true" style="pointer-events:none; color: #4c6272;">Sunburn and heatstroke</a></li>
  </ul>

  <hr class="app-section-break" />

  <div class="app-callout app-callout--info">
    <h2 class="nhsuk-heading-m">If you cannot find the right topic</h2>
    <p>111 online can only help with the topics on this page.</p>
    <p>If you cannot find what you are looking for, you can:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="#">Rule out the most serious conditions</a></li>
      <li><a href="https://www.nhs.uk/conditions/">Get information on a health problem or condition on the NHS website</a></li>
    </ul>
  </div>

</div>
{% endblock %}