{% extends "111/layouts/base.html" %}

{% block content_primary %}
<div class="nhsuk-u-reading-width">

  <h1 class="nhsuk-heading-l">What will happen next</h1>

  <p>We will ask you some questions about your symptoms.</p>
  <p>Some might not seem relevant, but they help us rule things out.</p>
  <p>You will not get a diagnosis, but we will tell you where to get help.</p>
  <p>If we recommend you speak to someone, you should tell them about any long-term conditions you might have.</p>

  <a href="/version-4/pathway-questions/q1" class="nhsuk-button" data-module="nhsuk-button">
    I understand
  </a>

  <details class="nhsuk-details nhsuk-u-reading-width">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Does this page make sense?</span>
    </summary>
  </details>

</div>
{% endblock %}